header#header{
	
	/*max-width: 940px;*/
	margin-bottom:0 !important;
	padding: 0px !important;
}
header#navbar{
	margin-top:0 !important;
	background-color: #0E5A7B;
	color: #fff;
	/*max-width: 940px;*/
}
header#navbar a{
	color: #fff;
}

li.dropdown a, .dropdown-menu, .dropdown-menu{
	background-color: #0E5A7B;
}

#navbar li.active a{
	background-color: #0E5A7B;
}

.banner-image {
	width: 100%;
}

#search-block-form .input-group{
	max-width: 200px;
	float: right;

}

#search-block-form .input-group input, #search-block-form .input-group span{
	margin-top:10px;
	
}

.white {
	background-color: #fff;
}

.grey {
	background-color: #f9f9f9;
}

.container.white,.container.grey {
	padding-top:20px;
	padding-bottom:40px;



}

#main-container{
	
}

#myCarousel{
	max-width: 100%;
}
.footer{
	background-color: #0E5A7B;
	color: #fff;
}

.partner-logos {
	margin: 0 auto;
}

.partner-logos img{
	width:250px;
	
}

.img-responsive.front-icons{
	max-height: 200px;
}

.pccp-sections .thumbnail{
	border:none !important;
}

.front-slide-image{
	height:350px;
	width:100%;
}

.carousel-inner .container{
	margin: 0 !important;
	padding: 0 !important;
}

.current-search-wrapper{

}

.views-row {
	margin-bottom: 10px;

}

input[type="checkbox"]:after, .checkbox input[type="checkbox"]:after, .checkbox-inline input[type="checkbox"]:after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    margin-top: -2px;
    margin-right: 5px;
    border: 1px solid #ddd;
    border-radius: 1px;
    -webkit-transition: 240ms;
    transition: 240ms;
}

.country-header{
	margin-bottom: 20px;
}

.panel-front {
	min-height: 450px !important;
}

.row.large-icons .panel-body{
	height: 250px !important;

}

.panel-side-small .panel-body{
	min-height: 213px !important;

}

.table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	min-height: 100px;
    border-top: none !important;
}


.motif-right {
	background-image: url(/sites/all/themes/pccp_bootstrap/images/motif-right.png); 
	background-repeat: no-repeat; 
	background-attachment: fixed;
}

#edit-search-block-form--2{
	color:#fff !important;
	border: 1px solid #ccc;
	padding:5px;
	padding-left:10px;

}

span.sitesearch input{
    padding-left:25px;
}
span.sitesearch :before{
    opacity:.8;
    height:100%;
    width:25px;
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
    position: absolute;
    content:"\e008";
    font-family: 'Glyphicons Search';
    font-style: normal;
    font-weight: 400;
    pointer-events: none;
    -webkit-font-smoothing: antialiased;
}

.field-name-field-cover-image img{
	max-width: 150px !important;
	max-height: 150px !important;
}

.panel-pccp-orange {
	background-color: #FA8625;
	color: #fff;
}
.panel-pccp-orange h4{
	
	color: #fff;
}

.view .date-nav-wrapper .date-prev {
    right: 75px;
}

.views-exposed-form input{
	border: 1px solid #ddd !important;
}
