body {
	line-height: 1.6em;
}
p {
	line-height: 1.3em;
}
header#header{
	
	/*max-width: 940px;*/
	margin-bottom:0 !important;
	padding: 0px !important;
	background: #c46120;
    border-bottom: 3px solid #3d84a7;
}
header#navbar{
	margin-top:0 !important;
	background-color: #0E5A7B;
	color: #fff;
	margin-bottom:0;
	border-radius:0;
	/*max-width: 940px;*/
}
header#navbar a{
	color: #fff;
}
.row {
	margin-left:0;
	margin-right:0;
}
.container .row, .row .row {
	margin-left:-15px;
	margin-right:-15px;
}
.main-content.container {
	padding-top:2em;
}
.views-row {
	line-height: 1.6em;
    margin: 1.5em 0;
    padding-bottom: 1.5em;
    border-bottom: 1px solid rgba(0,0,0,.1);
}
.views-field-title {
	font-weight: 500;
	font-size: 1.3em;
    line-height: 1.6em;
    margin-bottom: 5px;
}
.panel-facet .panel-heading {
    font-size: 1.3em;
}
li.leaf {
	padding-left: 21px;
    text-indent: -21px;
    line-height: 1.4em;
    margin-bottom: .5em;
}
li.expanded {
    margin-bottom: 1em;
}
li.expanded li.leaf {
    font-size: 0.9em;
    line-height: 1.2em;
    margin-bottom: .2em;
    padding-left:2em;
}
.front-page-search input.form-control {
	background: white;
    padding: 1em;
}


li.dropdown a, .dropdown-menu, .dropdown-menu{
	background-color: #0E5A7B;
}

#navbar li.active a{
	background-color: #0E5A7B;
}

.banner-image {
	width: 100%;
}

#search-block-form .input-group{
	max-width: 200px;
	float: right;

}

#search-block-form .input-group input, #search-block-form .input-group span{
	margin-top:10px;
	
}

.white {
	background-color: #fff;
}

.grey {
	background-color: #f2f2f2;
}

ul {
	padding-left:1em;
}

.container.white,.container.grey, .grey .container, .white .container {
	padding:2.5em 0;
}

#main-container{
	
}

#myCarousel{
	max-width: 100%; 
}
.footer{
	background-color: #0E5A7B;
	color: #fff;
}

.partner-logos {
	margin: 0 auto;
}

.partner-logos img{
	width:250px;
	
}

.img-responsive.front-icons{
	max-height: 200px;
}

.pccp-sections .thumbnail{
	border:none !important;
}

.front-slide-image{
	height:350px;
	width:100%;
}

.carousel-inner .container{
	margin: 0 !important;
	padding: 0 !important;
}

.current-search-wrapper{

}

.views-row {
	margin-bottom: 10px;

}
input[type="checkbox"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
	vertical-align: top;
    -webkit-appearance: checkbox;
    appearance: checkbox;
    margin-right: .5em;
    display: inline-block;
    margin: .2em .5em 0 0;
}
input[type="checkbox"]:checked:before, .checkbox input[type="checkbox"]:checked:before, .checkbox-inline input[type="checkbox"]:checked:before {
	width: 5px;
    height: 10px;
    top: 1px;
    left: 4px;
}

input[type="checkbox"]:after, .checkbox input[type="checkbox"]:after, .checkbox-inline input[type="checkbox"]:after {
    content: "";
    display: block;
    width: 13px;
    height: 13px;
    margin-top: 0px;
    margin-right: 5px;
    border:none;
    border-radius: 1px;
    -webkit-transition: 240ms;
    transition: 240ms;
}

.country-header{
	margin-bottom: 20px;
}

.panel-front {
	min-height: 450px !important;
}

.row.large-icons .panel-body{
	height: 250px !important;

}

.panel-side-small .panel-body{
	min-height: 213px !important;

}

.table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	min-height: 100px;
    border-top: none !important;
}

.motif-bg-white-1 {
	background-image: url(/sites/all/themes/pccp/images/tonga_bg_2_white.png); 
	background-repeat: repeat; 
}
.motif-bg-white-2 {
	background-image: url(/sites/all/themes/pccp/images/tonga_bg_3_white.png); 
	background-repeat: repeat; 
}
.motif-bg-dark-1 {
	background-image: url(/sites/all/themes/pccp/images/tonga_bg_2_black10.png); 
	background-repeat: repeat; 
}
.motif-bg-dark-2 {
	background-image: url(/sites/all/themes/pccp/images/tonga_bg_3_black10.png); 
	background-repeat: repeat; 
}

.motif-right {
	background-image: url(/sites/all/themes/pccp/images/motif-right_10.png); 
	background-repeat: no-repeat; 
	background-position: 98% center;
}
.motif-left {
	background-image: url(/sites/all/themes/pccp/images/motif-left_10.png); 
	background-repeat: no-repeat; 
	background-position: 30px center;
}

.front-page-panel {
	text-align: center;
}
h1, h2, h3, h4 {
	color: #0E5A7B;
}
.front-page-panel p {
	font-size:1.3em;
	font-weight:300;
}
#edit-search-block-form--2{
	color:#fff !important;
	border: 1px solid #ccc;
	padding:5px;
	padding-left:10px;

}

.btn-orange {
	background-color:#ff8601;
	color:white;
}
.btn-orange:hover {
	background-color:#f37f00;
	color:white;
}

span.sitesearch input{
    padding-left:25px;
}
span.sitesearch :before{
    opacity:.8;
    height:100%;
    width:25px;
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
    position: absolute;
    content:"\e008";
    font-family: 'Glyphicons Search';
    font-style: normal;
    font-weight: 400;
    pointer-events: none;
    -webkit-font-smoothing: antialiased;
}

.field-name-field-cover-image img{
	max-width: 150px !important;
	max-height: 150px !important;
}

.panel-pccp-orange {
	background-color: #FA8625;
	color: #fff;
}
.panel-pccp-orange h4{
	
	color: #fff;
}

.view .date-nav-wrapper .date-prev {
    right: 75px;
}

.views-exposed-form input{
	border: 1px solid #ddd !important;
}

.crop-logo{
	padding-right:20px;
	padding-botton:10px !important;
}
